.mark NAMECARD
a.namecard(href="https://codepen.io/eddie10913/pen/oNGOZBM?editors=1100" target="_blank")
  h2 呂宗憲
    span (Tsung-Hsien Lu)
  h5 前端工程師-新手(學習中)
  hr
  p 學習各種前端技能，並朝著前端工程師之路前進
  .line.line1 
  .line.line2 
  .line.line3 
  .line.line4 
  .circle.circle1
  img.icon-wind(src="https://cdn-icons-png.flaticon.com/128/2204/2204344.png", alt="")